
//- ---------------------------------------------------
//- Mixins
//- 
//- A1) 使用 "ul > li > a" 架構的選單
mixin li_nav(name, link)
  li
    a(href=link, title=name)&attributes(attributes)
      | #{name}

//- A2) 使用 "ul > li > a" 架構的選單，並內有設置icon
mixin li_nav_hasIcon(name, link, icon)
  li
    a(href=link, title=name)&attributes(attributes)
      i.icon(class=icon)
      | #{name}

//- B) 下拉展開關鍵字列表
mixin search_dropdown()
  .search-suggest.popover.bottom
    .suggest-item
      span.suggest-key 搜尋關鍵字 xxx
      span.suggest-cate-name 搜尋 apple 分類
    .suggest-item
      span.suggest-key 搜尋關鍵字
      span.suggest-cate-name 搜尋 apple 分類
    .suggest-item
      span.suggest-key 搜尋關鍵字
    .suggest-item
      span.suggest-key 搜尋關鍵字
    .suggest-item
      span.suggest-key 搜尋關鍵字

//- C) 熱門關鍵字
mixin search_keyword()
  .nav.nav-inline.fn-sm.keyword
    a(href="/dist/search-result.html", title="促案關鍵字") 促案關鍵字
    a(href="/dist/search-none.html", title="促案關鍵字") 促案關鍵字
    a(href="/dist/search-result.html", title="促案關鍵字") 促案關鍵字
    a(href="/dist/search-none.html", title="促案關鍵字") 促案關鍵字 