//- nav-tabs.pug
//- 
//- AA ------------------------
//- ** navTabs 基本型
mixin navTabs(...items)
  ul.nav-tabs-list&attributes(attributes)
    each item, index in items
      if (index == 0) 
        li.nav-tabs-item.active
          a(href="javascript:;")= item
      else
        li.nav-tabs-item
          a(href="javascript:;")= item 

//- BB ------------------------
//- * 會員中心Tabs主選單
- var memberNavs = [{name: "會員中心", link: "/dist/member-fix-v1/mb-home.html"}, {name: "會員資料", link: "/dist/member-fix-v1/mb-profile-edit.html"}, {name: "訂單紀錄", link: "/dist/order-fix-v1/order-list.html"}, {name: "個人訊息", link: "/dist/member-fix-v1/mb-mail-inbox.html"}, {name: "紅利點數", link: "/dist/member-fix-v1/mb-bonus.html"}, {name: "優惠券", link: "/dist/member-fix-v1/mb-coupon.html"}, {name: "商品收藏", link: "/dist/member-fix-v1/mb-wishlist-product.html"}, {name: "活動專區", link: "/dist/news-list.html"}, {name: "服務查詢", link: "/dist/member-fix-v1/mb-einvoice.html"}]

mixin memberNavTabs(val)
  .nav-tabs.nav-tabs-member
    ul.nav-tabs-list
      each item, index in memberNavs
        if (val == index)
          li.nav-tabs-item.active
            a.nav-link(href=item.link)= item.name
        else
          li.nav-tabs-item
            a.nav-link(href=item.link)= item.name


//- ** 2R member tabs
//-mixin navSubTabs(...items)
  ul.nav-tabs-list&attributes(attributes)
    each item, index in items
      if (index == 0) 
        li.nav-tabs-item.active
          a(href="javascript:;")= item
      else
        li.nav-tabs-item
          a(href="javascript:;")= item 

//- 2R ------------------------
//- * 2R會員專區 Tabs主選單
- var member2RNavs = [{name: "2R會員專區", link: "/dist/member-2R/mb-2R-home.html"}, {name: "我的收入", link: "/dist/member-2R/mb-2R-income.html"}, {name: "使用說明", link: "/dist/member-2R/mb-2R-help.html"}]

mixin member2RNavTabs(val)
  .nav-tabs.nav-tabs-2R.nav-sub-tabs
    ul.nav-tabs-list
      each item, index in member2RNavs 
        if (val == index)
          li.nav-tabs-item.active
            a.nav-link(href=item.link)= item.name
        else
          li.nav-tabs-item
            a.nav-link(href=item.link)= item.name