//- product-list-wishlist.pug
//- 商品收藏

- var prdList_wishlist = [{image: "/public/images/demo/p1_f2_1.jpg", title: "SONY Xperia X Performance (XP) 5吋防水雙卡雙待機", price: "$22,900"}, {image: "/public/images/demo/p1_f2_2.jpg", title: "Samsung Galaxy Note 5 64G 5.7吋八核心智慧手機", price: "$19,990"}, {image: "/public/images/demo/p1_f2_3.jpg", title: "Apple iPhone SE 64G 4吋智慧型手機", price: "$19,490"}, {image: "/public/images/demo/p1_f2_4.jpg", title: "Nextbit Robin 5.2吋六核心智慧型手機", price: "$9,990"}, {image: "/public/images/demo/p1_f1_1.jpg", title: "Samsung Galaxy S7 G930FD 4G/32G", price: "$19,900"}]


//- -------------------------------
//- **
// 商品收藏 
.row
  .js-history-slider.cell-5
    .slider-lead
      h4.title 商品收藏
      ol.slider-control.bx-pager
        each j in [0, 1, 2, 3]
          li.clear
            a(data-slide-index=j, href="javascript:;")
    .slider
      .slider-view.js-gallery-slider-view
        - for (var j=1; j<=4; j++) {
          .item
            each item in prdList_wishlist
              .product.product-view
                a(href="/dist/product-detail.html")
                  img(alt="商品圖", src=item.image)
                .content
                  .tags-group.product-tags
                    //- span.tag.tag-primary.tag-mini(href="") 獨家販售
                    //- span.tag.tag-secondary.tag-mini(href="") 限量新品
                  .title
                    a(href="/dist/product-detail.html")
                      | #{index+1}#{item.title}
                  .price
                    b.fn-md= item.price
        - }




