//- steps.pug
//- 
//- A. 結帳步驟
- var stepCartGroup_v1 = [{number: "1", name: "填寫訂購資料"}, {number: "2", name: "選擇付款方式"}, {number: "3", name: "訂單送出"}]
- var stepCartGroup_v2 = [{number: "1", name: "購物車明細"}, {number: "2", name: "填寫訂購資訊"}, {number: "3", name: "訂單送出"}]

//- use for 'cart-step1'
mixin stepCart(val)
  .steps.has-count
    ul.steps-list
      each item, index in stepCartGroup_v1
        if (val === index)
          li.steps-item.active
            span.number= item.number
            span.label= item.name
        else
          li.steps-item
            span.number= item.number
            span.label= item.name

//- use for 'cart-step2 & cart-step3'
mixin stepCart_inverse(val)
  .steps.has-count
    ul.steps-list
      each item, index in stepCartGroup_v1
        if (val === index)
          li.steps-item
            span.number= item.number
            span.label= item.name
        else
          li.steps-item.active
            span.number= item.number
            span.label= item.name


//- *** Upgrade 20170601 ***
//- 針對新版結帳流程調整
//- use for 'cart-step1'
mixin stepCart_new(val)
  .steps.has-count
    ul.steps-list
      each item, index in stepCartGroup_v2
        if (val === index)
          li.steps-item.active
            span.number= item.number
            span.label= item.name
        else
          li.steps-item
            span.number= item.number
            span.label= item.name

//- use for 'cart-step2 & cart-step3'
mixin stepCart_inverse_new(val)
  .steps.has-count
    ul.steps-list
      each item, index in stepCartGroup_v2
        if (val === index)
          li.steps-item
            span.number= item.number
            span.label= item.name
        else
          li.steps-item.active
            span.number= item.number
            span.label= item.name