//- product-detail.pug
//- 
extends _layouts/_templates/template.pug

//- -------------------------------------
//- 頁面狀態列標題
block title
  title 預購商品詳細頁

//- -------------------------------------
//- 麵包屑
block breadcrumb
  include _layouts/_mixins/breadcrumb.pug
  - var cateLevelTwo = true
  - var cateLevelThree = true
  - var cateLevelLast = true
  +breadcrumb_dropdown(crumbCategory)

//- -------------------------------------
//- header top banner 至頂廣告
block topbanner
  include _layouts/_elements/_header-top-bannerbox.pug

//- -------------------------------------
//- 側邊選單
block aside
  include ./_elements/aside-category.pug
  +categorySide(3)

//- -------------------------------------
//- @Mixin Element
//- 
//- Event Tags
mixin prdEventTag(name)
  li
    span.tag.tag-danger-outline.tag-mini 折扣活動
    a(href="javascript:;")= name

//- Gift Tags
mixin prdGiftTag(name)
  li
    span.tag.tag-extra-outline.tag-mini 贈品
    a(href="javascript:;", data-toggle="modal", data-target="#giftModal")= name

//- -------------------------------------
//- 主內容
block main
  //- ◇◇◇◇◇◇ 上半場 ◇◇◇◇◇◇
  .row
    //- * 左側
    - var prdImages = ["/public/images/demo/p4_1.png", "/public/images/demo/p4_2.png", "/public/images/demo/p4_3.png", "/public/images/demo/p4_4.png", "/public/images/demo/p4_1.png", "/public/images/demo/p4_1.png", "/public/images/demo/p4_1.png", "/public/images/demo/p4_1.png"]

    // 商品圖廊
    .col-md-12.detail-images
      .slider-product-view-box.js-slider-product-view-box
        ul.gallery-slider-view
          each img, index in prdImages
            li
              a( title="圖片標題", href="#inline-bs-modal-img", data-toggle="modal", data-target="#inline-bs-modal-img", src=img)
                img(src=img, alt="")
      
      .slider.view-thumbnail
        .slider-view#slider-product-pager-btns
          each img, index in prdImages
            .item
              a(href="javascript:;", data-slide-index=index)
                img(alt="商品縮圖" class="thumbnail small" src=img)

      // #### 分隔線 ####
      hr.divider.horizontal

      // share-buttons
      .row
        .share-buttons.pull-left
          // Load Facebook SDK for JavaScript
          #fb-root
          script.
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "facebook-jssdk"));
          // Your like button code
          .fb-like(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button_count", data-action="recommend", data-show-faces="false", data-share="false")
        
        .pull-left.spacing
          // 點擊後， addClass "active" 並改為「已收藏」
          button.btn.btn-favorite-outline.btn-mini.
            #[i.icon.icon-heart]&nbsp;收藏
          //- 已收藏 樣式
          //- button.btn.btn-favorite-outline.btn-mini.active.
          //-   #[i.icon.icon-heart]&nbsp;已收藏

      // #### 分隔線 ####
      hr.divider.horizontal

      // 商品編號
      ul.product-extra
        li 商品編號：UX201609236758
        li 配送方式：宅配#[span.spacing.sm ︱]神腦門市取貨
        li 付款方式：信用卡一次付款#[span.spacing.sm ︱]信用卡紅利折抵#[span.spacing.sm ︱]信用卡分期付款#[span.spacing.sm ︱]ATM轉帳
    
    //- * 右側
    // 商品簡介
    .col-md-12.detail-intro
      // 商品促銷文
      p.tag-text-secondary 10/1~10/30全站滿2仟送200、5仟送500、1萬送1000、2萬送2000購物金
      // 商品名稱
      h2.product-title ASUS ZenFone 3 Ultra ZU680KL (4G/64G) 6.8吋影音智慧手機
      // 商品標籤
      .tags-group
        span.tag.tag-primary.tag-mini 獨家販售
        span.tag.tag-secondary.tag-mini 限量新品
      // 商品特色: 內容使用編輯器編輯
      .product-desc.
        。 64位元高通1.8GHz八核心處理器#[br]
        。 6.8吋FHD IPS 全貼合螢幕#[br]
        。 4GB RAM / 64GB ROM#[br]
        。 十指觸控電容式感應#[br]
        。 雙五磁喇叭提升音量與逼真享受#[br]
        。 首創搭載DTS Headphone:X 技術 7.1 聲道環繞
      
      // #### 分隔線 ####
      hr.divider.horizontal
      // 商品價格
      .price
        del $23,900
        span.text 折扣後金額
        b.fn-xl $17,990

      // 分期表
      ul.pills.sm
        li #[b.value 6]期#[b.value 0]利率，每期#[b.value 988]元起
        li.popover-hover
          a(href="javascript:;", data-toggle="popover") 分期表
          .popover.installment(role="tooltip")
            .popover-arrow
            .popover-content
              h4.align.center 【 信用卡分期付款方案 】
              .row
                //- Left: 選單
                nav 
                  //- 分期tab
                  ul.nav-stacked
                    li.nav-item #[b.value 3]期#[b.value 0]利率，每期#[b.value 1988]元起
                    li.nav-item #[b.value 6]期#[b.value 0]利率，每期#[b.value 988]元起
                  
                  //- 信用卡紅利折抵連結 : 預留欄位用
                  //- .nav-link.extra
                  //-   a(href="") 信用卡紅利折抵

                //- Right: 內容
                - var banks = ["土地銀行", "合庫銀行", "第一銀行", "華南銀行", "彰化銀行", "花旗(原華僑)", "上海銀行", "國泰世華", "兆豐商銀", "花旗銀行", "澳盛銀行", "台灣企銀", "渣打銀行", "台中銀行", "匯豐銀行", "新光銀行", "新光銀行", "聯邦銀行", "遠東銀行", "元大銀行", "永豐銀行", "玉山銀行", "萬泰銀行", "台新銀行", "大眾銀行", "日盛商銀", "安泰銀行", "慶豐銀行", "台灣永旺"]                
                .content
                  - for (i=1; i<=2; i++) {
                    .pane 
                      h6 配合銀行共#[b.value #{i}7]家#[a.underline.inverted.spacing.left(href="https://online.senao.com.tw/event/20170103_bank/?date=170207&loc=IG1&id=4088", target="_blank") 詳細說明]
                      p 
                        each name in banks
                          span.col-4= name

                      //- 說明
                      ul.has-type-disc
                        li 除不盡餘數於第一期收取
                        li 所有價格一律含稅，接受信用卡#[i.icon.icon-visa]#[i.icon.icon-master-card]#[i.icon.icon-jcb]
                        li 實際分期金額請依各發卡銀行規定為準
                  - }
        li.popover-hover
          a(href="javascript:;", data-toggle="popover") 信用卡紅利折抵
          .popover.bank(role="tooltip")
            .popover-arrow
            .popover-content
              h4.text-center 【 信用卡刷卡紅利折抵 】
              h6 接受#[b.value 12]家銀行#[a.underline.inverted.spacing.left(href="https://online.senao.com.tw/event/20170103_bank/?date=170207&loc=IG1&id=4088", target="_blank") 詳細說明]
              - var banks = ["國泰世華", "中國信託", "花旗銀行", "玉山銀行", "聯邦銀行", "遠東銀行", "凱基銀行", "澳盛銀行", "聯邦銀行", "遠東銀行", "凱基銀行", "澳盛銀行"]
              .row
                each name in banks
                  span.col-3= name   
      
      //預購期間和到貨日期
      ul.list-group
        li.spacing.bottom.sm
         span.tag.tag-danger 預購期間 
         b.danger 2017/6/15 00:00 - 2017/7/6 12:00
        li.spacing.bottom.sm
         span.tag.tag-danger 預計出貨 
         b.danger 2017/7/20
     
      // #### 分隔線 ####
      hr.divider.horizontal
      // 規格
      .product-type
        span.spacing.right 顏色
        select(name="")
          option(selected="selected", value="冰河銀") 冰河銀
      // 數量
      .product-qty
        span.spacing.right.middle 數量
        .number-group
          button.number-less
            i.icon.icon-minus
          input.number-view(type="number", value="1", max="10", min="1", maxlength="2")
          button.number-plus
            i.icon.icon-plus
      // 優惠券
      .product-coupon
        span.spacing.right 優惠券
        a.underline.inverted(href="javascript:;", data-toggle="modal", data-target="#couponModal") 查看可使用的優惠券 
      // 無優惠券可用時，改為文字說明
      .product-coupon.hide
        span.spacing.right 優惠券
        span.warning * 該商品無適用優惠券
      // buttons
      .btn-group.align.left
        a.btn.btn-danger(href="javascript:;") 我要預購
        //a.btn.btn-danger(href="javascript:;") #[i.icon.icon-cart]加入購物車
        //a.btn.btn-primary(href="/dist/cart-fix-credit/cart-list.html") 立即購買
      
      // #### 分隔線 ####
      hr.divider.horizontal
      // 優惠說明
      ul.product-event
        //- 活動
        +prdEventTag("搖滾盛夏滿額送 ☆ 全站消費滿1800送50萬紅利點數")
        +prdEventTag("指定手機↘結帳9折")
        //- 贈品
        +prdGiftTag("ASUS 全系列買就送 32GB MicroSDHC 85M/sec高速 UHS-I記憶卡")
        +prdGiftTag("4.7吋鋼化9H玻璃 滿版螢幕保護貼")
      // 商品限制
      ul.product-extra.notice
        li * 特惠商品不列入紅利積點


  //- ◇◇◇◇◇◇ 中場 ◇◇◇◇◇◇
  // 商品加購
  .row.spacing.bottom.md
    h4.list-group-title 商品加購

    //- 加購品資訊
    - var prdPlusItem = [{image: "/public/images/demo/p1_f1_1.jpg", title: "SONY Xperia X Performance (XP) 5吋防水雙卡雙待機", price: "$22,900"}, {image: "/public/images/demo/p1_f1_2.jpg", title: "Samsung Galaxy Note 5 64G 5.7吋八核心智慧手機", price: "$19,990"}, {image: "/public/images/demo/p1_f1_3.jpg", title: "Apple iPhone SE 64G 4吋智慧型手機", price: "$19,490"}, {image: "/public/images/demo/p1_f1_4.jpg", title: "Nextbit Robin 5.2吋六核心智慧型手機", price: "$9,990"}, {image: "/public/images/demo/p1_f2_1.jpg", title: "ASUS ZenFone 3 ZE552KL (4G/64G) 5.5吋八核心智慧手機", price: "$9,990"}, {image: "/public/images/demo/p1_f2_2.jpg", title: "Acer Liquid Z330 4.5吋4G LTE雙卡智慧機", price: "$3,290"}]
    
    //- 商品列表
    ul.list-group.product-plus.flex
      //- 與 modal 設定相同變數
      - num = 1000
      //- items
      each item, index in prdPlusItem
        if index == 0
          li.item.product-view("data-pid"=num+index)
            .checkbox-group.pull-left
              input.checkbox(id="prd-"+index, type="checkbox", name="check", disabled)
              label.checkbox-label(for="prd-"+index)
            a.pull-left(href="javascript:;", data-toggle="modal", data-target="#productModal-"+num + index)
              img.image.thumbnail.small(alt="商品圖", src=item.image)
            .content
              a.title(href="javascript:;", data-toggle="modal", data-target="#productModal-"+num + index)= item.title
              .price
                b= item.price 
                b.fn-sm.spacing.left.mini (已售完)
        else
          li.item.product-view("data-pid"=num+index)
            .checkbox-group.pull-left
              input.checkbox(id="prd-"+index, type="checkbox", name="check")
              label.checkbox-label(for="prd-"+index)
            a.pull-left(href="javascript:;", data-toggle="modal", data-target="#productModal-"+num + index)
              img.image.thumbnail.small(alt="商品圖", src=item.image)
            .content
              a.title(href="javascript:;", data-toggle="modal", data-target="#productModal-"+num + index)= item.title
              .price
                b= item.price 

    // ** 勾選商品後才顯示 [加購商品總計] 功能列 ** 
    .bar.gray.align.center
      span.spacing.right 您已選取#[b.value 3]項加購商品
      a.btn.btn-secondary.w-fix-cart(href="javascript:;") #[i.icon.icon-cart]加入購物車
      a.btn.btn-primary.w-fix-cart(href="/dist/cart-fix-credit/cart-list.html") 立即購買
  
  
  //- ◇◇◇◇◇◇ 下半場 ◇◇◇◇◇◇
  // 商品資訊 : Tab選單
  .nav-tabs.nav-tabs-product
    ul.nav-tabs-list.js-nav-tabs-list.align.center(role="tablist")
      li.nav-tabs-item.active
        a.nav-link(href="javascript:;", role="tab") 商品介紹
      li.nav-tabs-item
        a.nav-link(href="javascript:;", role="tab") 規格
      li.nav-tabs-item
        a.nav-link(href="javascript:;", role="tab") 配送與退貨說明
  
  // 商品資訊 : Tab內容
  .tab-content
    // a. 商品介紹
    #intro.tab-pane.active
      // ~~~假設使用iframe載入內容
      // ~~~請將<iframe>放入 class.iframe-wrap 中
      .iframe-wrap
        p.align.center.
          感官無疆界，娛樂無拘束，設計超時尚。#[br]
          ZenFone 3 Ultra 影像流暢如真實世界，音質擬真如現場演奏，色彩鮮豔如科幻電影，一切都是如此精彩而細緻。#[br]
          ZenFone 3 Ultra 只為您誕生，帶您領略全新視野。
        br
        h2.align.center 極致相機 樂在精彩
        h4.align.center Dual Pixel 快速自動對焦
        p.align.center 首支搭載單眼相機對焦成像技術的手機，迅捷靈敏的自動相位對焦，拍照或錄影都能迅速對焦，加上快門速度提升，關鍵時刻一手掌握。
        br
        img.pull-center(alt="商品圖片", src="/public/images/demo/p4_2_1.jpg")
        br
        img.pull-center(alt="商品圖片", src="/public/images/demo/p4_2_2.jpg")
        br
        img.pull-center(alt="商品圖片", src="/public/images/demo/p4_2_3.jpg")
        br
        p.align.center ZenFone 3 Ultra 重新定義掌上娛樂。視覺與聽覺的再提升，驚豔畫質、擬真音效及領先業界的視聽科技。您將能感受到流暢的生動影像、真實的動人音質。ZenFone 3 Ultra 更是全球首款智慧型手機支援 USB-C 影像輸出，使您能藉由大屏幕觀看所有手機內容。全面享受影片、音樂、遊戲及閱讀的極致體驗，娛樂掌上機 － ZenFone 3 Ultra!
        br
        br

    // b. 規格
    #spec.tab-pane
      // ~~~假設使用iframe載入內容
      // ~~~請將<iframe>放入 class.iframe-wrap 中
      .iframe-wrap
        - var prdType = [{title: "系統效能", list: [{name: "CPU處理器", text: "64 位元處理器"}, {name: "CPU處理器", text: "iOS 9"}, {name: "記憶體/最大支援記憶體", text: "2GB"}, {name: "內建儲存空間", text: "64GB"}]}, {title: "外觀", list: [{name: "體積(mm)", text: "約2.8 kg"}, {name: "顏色", text: "極致黑"}, {name: "配備", text: "無線控制器 (DUALSHOCK®4)*1、耳機*1 、電源線*1、HDMI 連接線*1、USB 連接線*1"}, {name: "保固期限/維修方式", text: "1年"}]}]
        each item in prdType
          h4.css-table-caption.default
            span.inner-title= item.title
          .css-table
            each sub in item.list
              .css-tr
                .css-th.w-f9= sub.name
                .css-td= sub.text

    // c. 配送與退貨說明
    #notice.tab-pane
      // ~~~假設使用iframe載入內容
      // ~~~請將<iframe>放入 class.iframe-wrap 中
      .iframe-wrap
        - var prdNotice = [{label: "換貨說明", text: "因考量換貨作業時間冗長，影響您的使用權益，神腦線上未提供換貨服務，如收到商品不符需求或有瑕疵、缺件問題，請於7日鑑賞期內申請退貨後重新上網選購。"}, {label: "取消訂單流程", text: "若您商品訂購錯誤或您想要辦理取消訂單，您可在訂單查詢的頁面點選「取消訂單」的連結，直接線上填寫取消訂單的申請，我們將為您進行訂單取消的作業處理，並於申請完成後1個工作天內回覆Email告知您取消的處理結果，您亦可點選「訂單查詢」查看訂單處理進度。 ．當您申請後若訂單取消成功，訂單查詢的取消訂單欄位將顯示「已取消」。 ．當您要申請時，訂單已無「取消訂單」選項，代表已完成出貨作業，如你確認不需原訂購商品，請您於7日猶豫期內辦理退貨。 若有以下幾種情形，將無法為您取消商品： 1.若在您申請取消訂單的同時，該商品已進入出貨程序，我們將無法為您取消。 2.若您的商品為訂製商品，我們將會為您確認，該商品是否已經製作，若商品已經製作，將無法為您取消。 3.若您訂購商品為電子票券或遊戲點數，序號已進行使用或兌換，將無法為您取消。"}, {label: "退貨說明", text: "神腦線上會員皆可享有商品到貨次日起7日鑑賞期內退貨權益，辦理退貨商品必須是全新狀態且包裝完整，否則將會影響退貨權限。․請您於申請退貨後，以原出貨之包裝紙箱將退貨商品包裝妥當，若原紙箱已遺失，請另使用其他紙箱包覆於商品原廠包裝之外，切勿直接於原廠包裝上黏貼紙張或書寫文字。若原廠包裝損毀將可能影響您的退貨權限。 ․另提醒下列商品將無提供鑑賞期服務： 依「依消費者保護法第19條及行政院消費者保護處公告「通訊交易解除權合理例外情事適用準則」下列商品無享有7天猶豫期服務。 (1)易於腐敗、保存期限較短或解約時即將逾期。 (2)依消費者要求所為之客製化給付。 (3)報紙、期刊或雜誌。 (4)經消費者拆封之影音商品或電腦軟體。 (5)非以有形媒介提供之數位內容或一經提供即為完成之線上服務，經消費者事先同意始提供。 (6)已拆封之個人衛生用品。 　有關退貨相關注意事項，可參客服中心FAQ相關說明"}]
        //- **
        dl.prd-manual
          each item in prdNotice
            dt
              span.inner-title= item.label
            dd
              p= item.text

  // BUTTON
  .bar.gray.text-center.spacing.bottom
    a.btn.btn-secondary.w-fix-cart(href="javascript:;")
      i.icon.icon-cart
      | 加入購物車
    a.btn.btn-primary.w-fix-cart(href="/dist/cart-fix-credit/cart-list.html") 立即購買


  //- ◇◇◇◇◇◇ 瀏覽記錄 ◇◇◇◇◇◇  
  include _layouts/_mixins/product-list-history.pug


  //- ◇◇◇◇◇◇ Modal: 贈品 & 加購 ◇◇◇◇◇◇ 
  // Modal: 優惠券
  include ./_elements/modal-coupon.pug

  // Modal: 贈品
  .modal#giftModal
    .modal-dialog
      .modal-content
        .modal-body
          //- 右上角關閉鍵
          a.btn.btn-close(href="", data-dismiss="modal", aria-label="Close")
            span.text 關閉視窗
            i.icon.icon-close
          //- 商品圖
          img(src="/public/images/demo/p4_2_1.jpg", alt="商品圖")
          
          //- ** 暫存測試 ** 中文字關閉鍵
          //- .btn-group.spacing.top
          //-   a.btn.btn-query-outline(href="", data-dismiss="modal", aria-label="Close") 關閉視窗

  // Modal: 加購品
  include _layouts/_mixins/product-info-modal.pug
  - var custom_modal_title = "【 商品加購 】"
  - for (var i=0; i<6; i++) {
    +productInfoModal(num, false)
    - num = num + 1
  - }


//- -------------------------------------
//- reload bxSlider
block scripts
  script(type="text/javascript", src="/public/javascripts/vip-store.js")


